<a href="https://colab.research.google.com/github/marcosgonzaga20/Mod04/blob/main/Mod04_Tarefa_aula_03_a_05_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarefa 02

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [ ]:
# percentual de acerto dos alunos por assunto
Percentual = ({'Matemática': df_mat/24,
             'Português': df_por/18,
             'Geografia': df_geo/8,
             'Inglês': df_ing/8,
             'História': df_his/8,
             'Física': df_fis/12,
             'Quimica': df_qui/12})
Percentual

{'Matemática':     Qt_acertos
 0     0.250000
 1     0.791667
 2     0.583333
 3     0.416667
 4     0.291667
 ..         ...
 95    0.250000
 96    0.333333
 97    0.958333
 98    0.000000
 99    0.458333

 [100 rows x 1 columns],
 'Português':     Qt_acertos
 0     0.388889
 1     0.555556
 2     0.888889
 3     0.388889
 4     0.111111
 ..         ...
 95    0.222222
 96    0.055556
 97    0.277778
 98    0.555556
 99    0.833333

 [100 rows x 1 columns],
 'Geografia':     Qt_acertos
 0        0.875
 1        0.000
 2        0.000
 3        0.375
 4        0.250
 ..         ...
 95       0.875
 96       0.500
 97       0.000
 98       0.375
 99       0.000

 [100 rows x 1 columns],
 'Inglês':     Qt_acertos
 0        0.375
 1        0.000
 2        0.625
 3        0.500
 4        0.875
 ..         ...
 95       0.125
 96       0.750
 97       0.250
 98       0.125
 99       0.125

 [100 rows x 1 columns],
 'História':     Qt_acertos
 0        0.125
 1        0.000
 2        0.875
 3        0.000
 4        0.000
 ..         ...
 95       0.500
 96       0.125
 97       0.500
 98       0.625
 99       0.750

 [100 rows x 1 columns],
 'Física':     Qt_acertos
 0     0.666667
 1     0.916667
 2     0.333333
 3     0.000000
 4     0.750000
 ..         ...
 95    0.750000
 96    0.333333
 97    0.083333
 98    0.833333
 99    0.583333

 [100 rows x 1 columns],
 'Quimica':     Qt_acertos
 0     0.250000
 1     0.666667
 2     0.333333
 3     0.666667
 4     0.250000
 ..         ...
 95    0.250000
 96    0.250000
 97    0.416667
 98    0.916667
 99    0.166667

 [100 rows x 1 columns]}

In [ ]:
# 2) total de acertos de cada aluno
df = (df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui)
df

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [ ]:
# 1) porcentual geral de cada aluno
(df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui)/90

    Qt_acertos
0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
..         ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667

[100 rows x 1 columns]

In [ ]:
# 3) Quantos alunos tiveram nota maior que 45
aprovados = df.loc[df['Qt_acertos'] > 45]
aprovados['Qt_acertos'].value_counts()
aprovados

    Qt_acertos
1           48
2           50
5           50
7           49
8           58
17          52
18          50
20          53
24          50
27          50
31          54
35          48
36          56
37          52
39          49
40          47
42          48
45          48
48          55
60          48
62          46
67          46
70          62
71          53
72          50
77          53
78          66
81          55
88          50
89          63
93          56

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [ ]:
# seu código aqui
df2 = df_mat
df2['português'] = df_por
df2['geografia'] = df_geo
df2['ingles'] = df_ing
df2['historia'] = df_his
df2['fisica'] = df_fis
df2['quimica'] = df_qui
df2

    Qt_acertos  português  geografia  ingles  historia  fisica  quimica
0            6          7          7       3         1       8        3
1           19         10          0       0         0      11        8
2           14         16          0       5         7       4        4
3           10          7          3       4         0       0        8
4            7          2          2       7         0       9        3
..         ...        ...        ...     ...       ...     ...      ...
95           6          4          7       1         4       9        3
96           8          1          4       6         1       4        3
97          23          5          0       2         4       1        5
98           0         10          3       1         5      10       11
99          11         15          0       1         6       7        2

[100 rows x 7 columns]

In [ ]:
# Alunos com pontuação zerada em Matemática, Física ou Química

df_eliminados = df2[ (df_mat['Qt_acertos'] == 0) |
                     (df_fis['Qt_acertos'] == 0) |
                     (df_qui['Qt_acertos'] == 0) ]
df_eliminados

    Qt_acertos  português  geografia  ingles  historia  fisica  quimica
3           10          7          3       4         0       0        8
6            6          0          7       7         5       0        4
10          10          8          3       2         1       7        0
12          20          8          3       7         1       0        3
14           7         11          1       7         1       4        0
20          23         11          6       5         6       2        0
25           0          4          7       4         0       4        8
26          11         14          6       2         7       0        0
27          21         13          1       5         7       3        0
33          14          8          0       5         6       6        0
35          11         14          6       3         3       0       11
49           8          1          1       0         1       0        8
56           7          6          7       5         6       0        8
65           1          8          2       4         3       0        6
66           5          4          3       6         3       0       10
72          11         16          3       4         7       0        9
73           1         16          2       4         3       0       11
74           9         11          0       7         5       7        0
84          15          1          0       5         1       0        4
89          23         11          7       7         6       9        0
92          14         10          1       6         1       8        0
94           0          5          2       6         1       3        8
98           0         10          3       1         5      10       11

In [ ]:
# Quantidade de alunos desclassificados

len(df_eliminados.index)

23

In [ ]:
# Média de alunos em História e Geografia dos alunos desclassificados
Media_His_Geo = ({'Geografia': df2['geografia'].mean(),
                  'Historia': df2['historia'].mean()})
Media_His_Geo

{'Geografia': 3.36, 'Historia': 3.6}

In [ ]:
# Alunos que passaram para a segunda fase
df_aprovados = df2[ (df_por['Qt_acertos'] != 0) &
                     (df_geo['Qt_acertos'] != 0) &
                     (df_ing['Qt_acertos'] != 0) &
                     (df_his['Qt_acertos'] != 0) ]
df_aprovados

    Qt_acertos  português  geografia  ingles  historia  fisica  quimica
0            6          7          7       3         1       8        3
5           20          2          5       3         2       9        9
7           18          4          4       7         7       1        8
8           22          9          2       7         6       5        7
9           10          6          3       6         4       8        2
10          10          8          3       2         1       7        0
12          20          8          3       7         1       0        3
14           7         11          1       7         1       4        0
17          21         15          2       2         4       2        6
18          20          4          3       5         3      11        4
19           1          2          7       6         1       9       11
20          23         11          6       5         6       2        0
24          20          2          7       5         3      11        2
26          11         14          6       2         7       0        0
27          21         13          1       5         7       3        0
28          11          2          7       7         5       4        3
30           9          4          2       2         5       9        5
31          15         13          3       1         3       9       10
35          11         14          6       3         3       0       11
36          22          9          6       6         1       4        8
37          19         12          5       7         1       6        2
39           4         16          2       4         6       9        8
40          18          3          6       3         6       5        6
41           6          4          3       4         5       4       11
42          20          6          7       7         2       3        3
44           6         14          7       3         1       3        9
46           3          3          3       7         5       9        4
51           1         12          7       3         5       4       10
53          14         11          3       4         3       7        3
54           6         11          4       5         1       6        4
55          11         10          4       4         5       1        6
56           7          6          7       5         6       0        8
62          17          6          2       4         7       1        9
64           3          7          7       5         3      11        2
65           1          8          2       4         3       0        6
66           5          4          3       6         3       0       10
68           9          9          5       3         6      10        1
71          17          8          7       6         4       2        9
72          11         16          3       4         7       0        9
73           1         16          2       4         3       0       11
75           3          6          7       6         6       9        5
77          15          2          5       7         6      11        7
78          14         16          7       2         7      11        9
79           7          4          3       7         3       1        8
80          13         16          5       1         7       2        1
82           7         16          7       1         1       2        9
83          20          1          5       6         3       6        1
85          12          4          2       1         5       9        4
88          20          1          1       5         7       9        7
89          23         11          7       7         6       9        0
90          12          5          5       1         2       1        5
91           8          3          1       7         3       2        3
92          14         10          1       6         1       8        0
93          12         16          5       5         6       6        6
94           0          5          2       6         1       3        8
95           6          4          7       1         4       9        3
96           8          1          4       6         1       4        3
98           0         10          3       1         5      10       11

In [ ]:
len(df_aprovados.index)

58

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?

In [ ]:
import pandas as pd

In [ ]:
arquivo_Acre = pd.read_csv(
    'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv',
    sep=';')
arquivo_Acre.head()

HTTPError: HTTP Error 403: Forbidden

In [ ]:
# 1) Sua solução aqui

In [ ]:
# 2)

In [ ]:
# 3)

In [ ]:
# 3) solução alternativa

In [ ]:
# 4)

In [ ]:
# 5)

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [ ]:
# 1)

In [ ]:
# 2)

In [ ]:
# 3)

In [ ]:
# 4)

In [ ]:
# 5)